{% macro flagged_student_card(pseudonym, targets, id) %}
		<div class="card mb-4 mx-2">
			<div class="card-header">

				<div class="d-flex justify-content-between align-items-center">

					<div class="d-flex flex-column mb-3 mx-2">
						<img src="{{ url_for('static', filename='img/heine.jpg') }}" alt="Image" class="mr-2 heine-img">
					</div>

					<div class="d-flex flex-column mb-3">
						<h6 class="">MatrikelNr.</h6>
						<h5 class="">{{ pseudonym }}</h5>
					</div>

				</div>

				<div class="d-flex flex-column mb-3 mx-2">
					{% for target in targets %}
						<span class="badge bg-danger mb-2" data-toggle="tooltip" data-bs-placement="top"
							  title="Risk Score: <b>1,0</b>" data-bs-html="true">{{ target }}</span>
					{% endfor %}
				</div>
			</div>

			<div class="card-body px-0 pt-0 my-0">

				<div class="d-flex justify-content-around align-items-center m-0">
					<div class="d-flex flex-column mb-2">
						<div id="major-{{ id }}" class="p-2"></div>
						<div id="degree-{{ id }}" class="p-2"></div>
					</div>

					<div class="d-flex flex-column mb-2">
						<div id="semester-{{ id }}" class="p-2"></div>
						<div id="ects-{{ id }}" class="p-2"></div>
					</div>
				</div>

			</div>

			<div class="d-flex justify-content-around align-items-center">
				<div class="d-flex flex-column mb-3 align-items-center prevention-action" id="contactStudent{{ id }}">
					<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 2C20 0.9 19.1 0 18 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2ZM18 2L10 7L2 2H18ZM18 14H2V4L10 9L18 4V14Z"
							  fill="#006AB3"/>
					</svg>
					<div class="p-2">Send E-Mail</div>
				</div>
			</div>

		</div>




	<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#contactStudent{{ id }}').click(function () {
                console.log("Contact Student {{ id }}");
            });

            $.ajax({
                url: "/get-student-data/{{ pseudonym }}",
                type: "GET",
                success: function (data) {
					
                    $('#major-{{ id }}').html(data.Studienfach);
                    $('#degree-{{ id }}').html(data.Abschluss);
                    $('#semester-{{ id }}').html(data.Fachsemester + ". Semester");
                    let ects = data.Abschluss === "Master" ? 120 : 180;
                    $('#ects-{{ id }}').html(data.total_ects + " / " + ects + " ECTS");
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data);
                }
            });
        });


	</script>

	<style>

        .prevention-action:hover {
            cursor: pointer;
        }

        .prevention-action:hover div {
            text-decoration: underline;
        }

        .prevention-action div {
            color: #006AB3;
        }

        .prevention-action:hover svg {
            transform: translateY(-2px);
        }

        .heine-img {
            width: 75px;

        }
	</style>

{% endmacro %}
