{% macro query_card(query) %}
	<div class="row">
		<div class="col-12">
				<div class="card mb-4 d">
					<div class="card-header">

						<div class="row">
							<div class="col-xl-6 col-sm-6 mb-xl-0 mb-4 ">
								<h5 class="font-weight-bolder mb-0 w-100">{{ query.name }}</h5>
							</div>

						</div>
					</div>


					<div class="card-body px-0 pt-0 pb-2 semesterTableContainer">
						<div class="container" id="collapseCard{{ query.id }}">
							<p>{{ query.description }}</p>
						
							<div class="flex d-flex flex-row-reverse">
							<a href="{{url_for('main.prediction', db_id=1, query_id=query.id, model_id=query.id)}}" class="btn btn-secondary">Select Target</a>
								</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	
{% endmacro %}
