# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Databases
data/database-dev.sqlite

# Distribution
dist/
build/
*.egg-info/


# Environment
.env
.flaskenv

# Flask
instance/

# Models
models/*

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Upload Folder
uploads/*

# Virtual Environment
.venv/
venv/

# VsCode
.vscode/
