{% extends 'base.html' %}

{% block content %}
<div  id="slide-out" class="sidenav">
    <div class="container">
        <img src="{{ url_for('static', filename='images/hhu_logo_proxy.png') }}" 
            alt="Logo der Heinrich-Heine-Universität Düsseldorf"
            class="responsive-img"
            id="sidenav-logo">
        <hr>
    </div>
    <ul class="tabs flex">

        <li class="tab">
            <a href="#data-tab" class="active">
                <i class="material-icons left small">storage</i>
                <span class="left">Data</span>
            </a>
        </li>
        <li class="tab">
            <a href="#statistics-tab">
                <i class="material-icons left small">assessment</i>
                <span class="left">Statistics</span>
            </a>
        </li>
        <li class="tab">
            <a href="#prediction-tab">
                <i class="material-icons left small">trending_up</i>
                <span class="left">Prediction</span>
            </a>
        </li>
        <li class="tab-close"><a class="sidenav-close center" href="#!">Click here to close</a></li>
    </ul>
    <a href="{{ url_for('auth.logout') }}" class="btn-tab-container">
        <button class="btn btn-tab right">
            <i class="material-icons left small">exit_to_app</i>
            <span class="left">Log Out</span>
        </button>
    </a>
    <div class="sidenav-footer row">
        <div class="col s12">
            {% include 'footer-content.html' %}
        </div>
    </div>
</div>
<main>
    <section class="content flex" id="data-tab">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Loaded Data</span>
                            <div class="key-value-list">
                                <div class="key-value-pair">
                                    <dt>Database: </dt>
                                    <dd>
                                        {% if ml_db_filename %}
                                            {{ ml_db_filename }}
                                        {% else %}
                                            No database selected.
                                        {% endif %}
                                    </dd>
                                </div>
                                <div class="key-value-pair">
                                    <dt>Query: </dt>
                                    <dd>
                                        {% if query_name %}
                                            {{ query_name }}
                                        {% else %}
                                            No query selected.
                                        {% endif %}
                                    </dd>
                                </div>
                            </div>
                            {% if ml_db_filename %}
                            <form method="post" enctype="multipart/form-data">
                                {{ form_query.csrf_token }}
                                <div class="row">
                                    <div class="col s8">
                                        <div class="input-field">
                                            {{ form_query.query() }}
                                            {{ form_query.query.label }}
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        {{ form_query.submit(class="btn btn-small", id="btn-query-select") }}
                                    </div>
                                </div>
                                {% for error in form_query.query.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            </form>
                        {% endif %}
                        </div>
                        <div class="card-action">
                            <form method="post" enctype="multipart/form-data">
                                {{ form_db.csrf_token }}
                                <label for="ml_db_file">Select Dataset</label>
                                <div class="input-field">
                                    <div class="row">
                                        <div class="col s8">
                                            {{ form_db.ml_db_file() }}
                                        </div>
                                        <div class="col s4">
                                            <button class="btn btn-upload" type="submit">
                                                <i class="material-icons left">file_upload</i>
                                                <span>Upload</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% for error in form_db.ml_db_file.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Overview</span>
                            <ul>
                                <li>
                                    <span class="metastat">Number Of Samples: </span>
                                    <span class="metastat-value">{{ metastats.num_samples }}</span>
                                </li>
                                <li>
                                    <span class="metastat">Number Of Features: </span>
                                    <span class="metastat-value"> {{ metastats.num_feats }}</span>
                                </li>
                                <li>
                                    <span class="metastat">Missing Values: </span>
                                    <span class="metastat-value">{{ metastats.num_miss_vals }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>Feature 1</th>
                                        <th>Feature 2</th>
                                        <th>Feature 3</th>
                                        <th>Feature 4</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content flex" id="statistics-tab">
        <div class="container">
            <div class="row">
                <div class="col s2 offset-s8">
                    <a href="" class="btn btn-filter">
                        <i class="material-icons left">edit</i>
                        <span>Filter</span>
                    </a>
                </div>
                <div class="col s2">
                    <a href="" class="btn btn-export">
                        <i class="material-icons left">file_download</i>
                        <span>Export</span>
                    </a>
                </div>
            </div>
            <div class="row img-grid">
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <img src="{{ url_for('static', filename='images/statistics_proxy_1.png') }}" 
                                alt=""
                                class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <img src="{{ url_for('static', filename='images/statistics_proxy_2.png') }}" 
                                alt=""
                                class="responsive-img">
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <img src="{{ url_for('static', filename='images/statistics_proxy_3.png') }}" 
                                alt=""
                                class="responsive-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s1 offset-s11">
                    <a class="btn-floating btn-large">
                        <i class="material-icons btn-add">add</i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="prediction-tab" class="content flex">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Loaded Models</span>
                            <p>Name: RF, DT, SVM</p>
                            <p>Targets: Dropout, Final Grade</p>
                        </div>
                        <div class="card-action">
                            <a class="btn btn-upload">
                                <i class="material-icons left">file_upload</i>
                                <span>Upload</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="col s4 offset-s2">
                            <a class="btn btn-predict">
                                <i class="material-icons left">trending_up</i>
                                <span>Predict</span>
                            </a>
                        </div>
                        <div class="col s4">
                            <a class="btn btn-export">
                                <i class="material-icons left">file_download</i>
                                <span>Export</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <ul>
                                        <li>Number Of Samples: XYZ</li>
                                        <li>Number Of Features: XYZ</li>
                                        <li>Missing Values: XYZ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>Features</th>
                                        <th>Features</th>
                                        <th>Probability</th>
                                        <th>Prediction</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}