{% extends "base.html" %}

{% block body %}
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-header pb-0">
					<h6>Prediction</h6>
					MachineLearning Statistics (best model? all models?, to be implemented)
					<br>
					<a href="">Statistics/Images</a> (to be implemented)
					<br>
					<a href="">Fairness</a> (to be implemented)
				</div>
				<div class="card-body px-0 pt-0 pb-2">
					<div class="container">
						{{ styled_df.to_html(table_uuid="prediction", table_id='query-results', classes='display') |
						safe}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	let element = document.getElementById("predictionLink");
	element.classList.add("active");
</script>
{% endblock %}
