{% extends "base.html" %}

{% block body %}
<div class="container-fluid py-4">

<div class="d-flex ">
<ul class="me-auto nav nav-pills m-2" id="prediction-tabs" role="tablist">
	<li class="nav-item">
    <a class="nav-link active" id="individual-tab" href="#" data-toggle="tab" data-target=".individualPred">Individual-level</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="group-pill" href="#group-level" data-toggle="tab" data-target=".aggregationSelect, .featureSelect, .groupPred">Group-level</a>
  </li>
</ul>
	
<div class=" d-flex tab-content">
	<div class="p-2 dropdown tab-pane fade featureSelect" role="tabpanel">
  <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="featureSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
    Feature
  </button>
  <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for feature in features %}
	  <a class="dropdown-item feature-link" href="#">{{ feature }}</a>
    {% endfor %}
  </div>
	</div>

	<div class="p-2 dropdown tab-pane fade aggregationSelect" role="tabpanel">
  <button class="btn bg-gradient-secondary dropdown-toggle" type="button" id="aggregationSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
    Average
  </button>
  <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item aggregation-link" href="#">Average</a>
    <a class="dropdown-item aggregation-link" href="#">Count</a>
    <a class="dropdown-item aggregation-link" href="#">Maximum</a>
	<a class="dropdown-item aggregation-link" href="#">Minimum</a>
    <a class="dropdown-item aggregation-link" href="#">Sum</a>
  </div>
	</div>
</div>
</div>

	<div class="row">
		<div class="col-12 tab-content">
			{# Individual Tab#}
			<div class="card mb-4 tab-pane fade show active individualPred" role="tabpanel" aria-labelledby="individual-tab">
				<div class="card-header pb-0">

				</div>
				<div class="card-body px-0 pt-0 pb-2 ">
					<div class="container table-responsive" id="pred-table">
						{{ styled_df.to_html(table_uuid="prediction", table_attributes='class="w-100"', escape=False) |
						safe}}
					</div>
				</div>
			</div>
			{# Group Tab#}
			<div class="card mb-4 tab-pane fade groupPred" role="tabpanel" aria-labelledby="group-tab">
				<div class="card-header pb-0">

				</div>
				<div class="card-body px-0 pt-0 pb-2">
					<div class="container table-responsive" id="group-pred-table">
						<p style="text-align: center">
						To view data at the group level, you can select a Feature and an Aggregation from the dropdown menus above. Once you've made a selection, your data will be displayed. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
<script>
    let element = document.getElementById("predictionLink");
    element.classList.add("active");
    element = document.getElementById("predictionLinkMobile");
    element.classList.add("active");

    var pathArray = window.location.pathname.split('/');
    var db_id = pathArray[2];
    var query_id = pathArray[3];
    var model_id = pathArray[4];
    $SCRIPT_PARAMS = '/' + db_id + '/' + query_id + '/' + model_id;
	
    // Prediction Tabs
    $('#prediction-tabs a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $('#prediction-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        let target = $(e.target).data('target');
        $('.tab-pane').not(target).removeClass('active show');
        $(target)
            .addClass('active show')
    });


    // Group-level Prediction
    $(function () {
        $('.feature-link').click(function (event) {
            event.preventDefault(); // prevent the link from following the href

            const selectedFeature = $(this).text();

            // Update the feature button text
            var featureSelect = document.getElementById('featureSelectButton');
            featureSelect.innerHTML = selectedFeature;
            // Get the current aggregation
            var aggSelect = document.getElementById('aggregationSelectButton');
            var currentAgg = aggSelect.textContent;

            // Get the data
            $.getJSON(/group_level_prediction/ + $SCRIPT_PARAMS, {
                feature: selectedFeature,
                aggregation: currentAgg,
            }, function (data) {
                $('#T_group_prediction').DataTable().destroy();
                $('#group-pred-table').html(data.styled_df);
                $('#T_group_prediction').DataTable({
                    "scrollX": true
                });

            });

            return false;
        });

        $('.aggregation-link').click(function (event) {
            event.preventDefault(); // prevent the link from following the href

            const selectedAgg = $(this).text();
            // Update the aggregation button text
            var aggSelect = document.getElementById('aggregationSelectButton');
            aggSelect.innerHTML = selectedAgg;
            // Get the current feature
            var featureSelect = document.getElementById('featureSelectButton');
            var currentFeature = featureSelect.textContent;
            // Get the data
            $.getJSON(/group_level_prediction/ + $SCRIPT_PARAMS, {
                feature: currentFeature,
                aggregation: selectedAgg,
            }, function (data) {
                $('#T_group_prediction').DataTable().destroy();
                $('#group-pred-table').html(data.styled_df);
                $('#T_group_prediction').DataTable({
                    "scrollX": true
                });

            });

            return false;
        });
    });
</script>
{% endblock %}
