{% extends "base.html" %}

{% block body %}
    <h1>Manage queries</h1>
    <a href={{ url_for("main.add_query") }}>add Query</a>
    <br>
    {% for query in queries %}
        {{ query.name }}
        <a href={{ url_for("main.show_query", id=query.id) }}>show</a>
        <a href={{ url_for("main.edit_query", id=query.id) }}>edit</a>
        <a class="modal-trigger" href="#modal-delete-{{ query.id }}">delete</a>
        <div id="modal-delete-{{ query.id }}" class="modal">
            <div class="modal-content">
                <h4>Delete Query</h4>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <a href={{ url_for("main.delete_query", id=query.id) }} class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
    {% endfor %}
    <br>
    <a href={{ url_for("main.admin") }}>back</a>
{% endblock %}