{% extends "base.html" %}
{% from 'components/modal.html' import confirm_modal %}

{% block body %}
	<h1>Manage Databases</h1>
	<br>
	<a href={{ url_for('main.add_ml_database') }}>add Database</a>
	<br>
	{% for ml_database in ml_databases %}
		{{ ml_database.name }}, {{ ml_database.timestamp }},
		<a href={{ url_for('main.ml_database', id=ml_database.id) }}>show</a>
		<a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ ml_database.id }}">delete</a>
		<br>

		{{ confirm_modal("Delete ML-Database", ml_database.id, "main.delete_ml_database") }}

		<br>
	{% endfor %}
	<br>
	<a href={{ url_for('main.home') }}>back</a>

{% endblock %}
