{% extends "base.html" %}

{% block body %}
	<div class="container-fluid py-4">

	<div class="d-flex ">
		<ul class="me-auto nav nav-pills m-2" id="performance-tabs" role="tablist">
			<li class="nav-item pill">
				<a class="nav-link active" id="ind-perf-tab" href="#" data-toggle="tab"
				   data-target=".individualPerf, .studentIdFilter, .filterSelect, .studentFilter">Individual-level</a>
			</li>
			<li class="nav-item pill">
				<a class="nav-link" id="group-perf-tab" href="#group-level" data-toggle="tab"
				   data-target=".groupPerf, .filterSelect, .perfGrouping">Group-level</a>
			</li>
		</ul>

		<div class="d-flex ">
			<div class="input-group mb-4 mt-2 tab-pane fade show active studentFilter">
				<input id="perf-studentId-input" type="number" class="form-control" placeholder="Search Matrikelnummer"
					   aria-label="Search Matrikelnummer" aria-describedby="Matrikelnummer">
				<button class="btn btn-outline-secondary mb-0" type="button" id="perf-studentId-btn">
					<i class="fa fa-search"></i>
				</button>
			</div>

			<div class="input-group mb-3 mt-3 tab-pane fade perfGrouping">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
						   value="option2" checked>
					<label class="form-check-label" for="inlineRadio2">Degree</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
						   value="option3" disabled>
					<label class="form-check-label" for="inlineRadio3">Studies</label>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-12 tab-content">
			{# Individual Tab#}
			<div class="card mb-4 tab-pane fade show active individualPerf" role="tabpanel"
				 aria-labelledby="individual-tab">
				<div class="card-header pb-0">

				</div>
				<div class="card-body px-0 pt-0 pb-2">
					<div class="container" id="individual-perf">

						<div class="d-flex justify-content-center align-items-center perfLoading fade">
							<div class="spinner-border text-secondary" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>


						<div class="chart">
							<canvas id="individual-perf-chart" class="chart-canvas" height="100px"></canvas>
						</div>

					</div>
				</div>
			</div>
			{# Group Tab#}
			<div class="card mb-4 tab-pane fade groupPerf" role="tabpanel" aria-labelledby="group-tab">
				<div class="card-header pb-0">

				</div>
				<div class="card-body px-0 pt-0 pb-2">
					<div class="container" id="group-perf">
						<div class="d-flex justify-content-center perfLoading">
							<div class="spinner-border text-secondary" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div class="chart">
							<canvas id="group-perf-chart" class="chart-canvas" height="100px"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
        let element = document.getElementById("performanceLink");
        element.classList.add("active");
        element = document.getElementById("performanceLinkMobile");
        element.classList.add("active");
	</script>
{% endblock %}
