{% extends "base.html" %}
{% from 'components/flagged_student_card.html' import flagged_student_card %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div class="container-fluid">
	
		<h6 class="m-2"> Gefährdete Studenten </h6>
			<div class="d-flex flex-wrap">
				{% for pseudonym in flagged_students %}
					{{ flagged_student_card(pseudonym, flagged_students[pseudonym], loop.index) }}
				{% endfor %}
			</div>

		<div class="row mx-2">
			<div class="col-12">
				<a href="{{ url_for('main.delete_flags') }}" type="button"
				   class="btn btn-danger {{ 'disabled' if flagged_students|length == 0 }}">
					Delete Flagged Students
				</a>
			</div>
		</div>
	</div>

	<script>
        let element = document.getElementById("preventionLink");
        element.classList.add("active");
        element = document.getElementById("preventionLinkMobile");
        element.classList.add("active");
	</script>
{% endblock %}
