{% extends "base.html" %}
{% from 'components/query_card.html' import query_card %}

{% block body %}
	<div class="container-fluid py-4">
	
	
		{% for query in queries %}
			{{ query_card(query, route='main.risk_analysis') }}
		{% endfor %}
	</div>
	<script>
        let element = document.getElementById("analysisLink");
        element.classList.add("active");
        element = document.getElementById("analysisLink");
        element.classList.add("active");

        $(document).ready(function () {

            const analysisTour = new Shepherd.Tour({
				useModalOverlay: true,
                defaultStepOptions: {
                    cancelIcon: {
                        enabled: true
                    },
                    classes: 'shadow-md bg-purple-dark',
                    scrollTo: {behavior: 'smooth', block: 'center'},
                }
            });

            analysisTour.addStep({
                title: 'Risikoanalyse',
                text: `In diesem Bereich haben Sie die Möglichkeit, eine umfassende Risikoanalyse durchzuführen. 
				Sie können die Risikobewertungen für verschiedene Zielgruppen betrachten und verstehen, 
				wie sich verschiedene Gruppen in Bezug auf ihre Risikoscores unterscheiden. 
				Diese Analyse hilft Ihnen präventive Maßnahmen gezielt zu planen und umzusetzen.`,
                buttons: [
                    {
                        action() {
                            return this.next();
                        },
                        text: 'Fertig'
                    },

                ],
				id: 'analysisTour'
            });

            analysisTour.start();

        });
	</script>

{% endblock %}
