{% extends "base.html" %}
{% from 'components/semester_table.html' import semester_table %}

{% block body %}
	
	<div class="container-fluid">

		<!-- Top Numbers -->
		<div class="container-fluid ml-2">
		 <h4><a href="/prediction/1/1/1"><i class="ni ni-bold-left"> </i></a> </h4>
			<div class="row">
				<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
					<div class="card">
						<div class="card-body p-3">
							<div class="row">
								<div class="col-8">
									<div class="numbers">
										<p class="text-sm mb-0 text-capitalize font-weight-bold">Fachsemester</p>
										<h5 class="font-weight-bolder mb-0" id="totalStudents">
											{{ student_data.Fachsemester }}
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
					<div class="card">
						<div class="card-body p-3">
							<div class="row">
								<div class="col-8">
									<div class="numbers">
										<p class="text-sm mb-0 text-capitalize font-weight-bold">Current ECTS</p>
										<h5 class="font-weight-bolder mb-0" id="totalDropouts">
											{{ student_data.total_ECTS }}/{% if student_data.Abschluss == 'Bachelor' %}180{% else %}120{% endif %}
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
					<div class="card">
						<div class="card-body p-3">
							<div class="row">
								<div class="col-8">
									<div class="numbers">
										<p class="text-sm mb-0 text-capitalize font-weight-bold">Abschluss</p>
										<h5 class="font-weight-bolder mb-0" id="avgEctsStudyLength">
											{{ student_data.Abschluss }}
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="card">
						<div class="card-body p-3">
							<div class="row">
								<div class="col-8">
									<div class="numbers">
										<p class="text-sm mb-0 text-capitalize font-weight-bold">Studienfach</p>
										<h5 class="font-weight-bolder mb-0" id="avgEctsPerSemester">
											{{ student_data.Studienfach }}
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Flag Buttons-->
		<div class="container-fluid py-4 ml-2">
			<div class="row">
				<div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
					<button type="button" class="btn bg-gradient-success w-100" id="showAll">Deflag</button>
				</div>
				<div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
					<button type="button" class="btn bg-gradient-danger w-100" id="showAll">Flag</button>
				</div>
			</div>
		</div>

	{#	Semester Data #}
	{% set ns = namespace(year=first_exam.Semesterjahr, semester=first_exam.Sommersemester) %} 
	<div class="container-fluid ml-1">
	<h6 class="m-2"> WRITTEN EXAMS</h6>
	{% for semester in range(student_data.Fachsemester) %}
		{{ semester_table(session_id, student_data, semester, ns.year, ns.semester) }}

		{% if ns.semester == 0 %}
        {% set ns.year = ns.year + 1 %}
    	{% endif %}
		{% set ns.semester = (ns.semester + 1)%2 %}
    {% endfor %}
	</div>
	
		<!-- Flag Buttons-->
		<div class="container-fluid py-4 ml-2">
			<div class="row">
				<div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
					<button type="button" class="btn bg-gradient-success w-100" id="showAll">Deflag</button>
				</div>
				<div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
					<button type="button" class="btn bg-gradient-danger w-100" id="showAll">Flag</button>
				</div>
			</div>
		</div>
	</div>

	<script>
        let element = document.getElementById("predictionLink");
        element.classList.add("active");
        element = document.getElementById("predictionLinkMobile");
        element.classList.add("active");

        {#var pathArray = window.location.pathname.split('/');#}
        {#var db_id = pathArray[2];#}
        {#var query_id = pathArray[3];#}
        {#var model_id = pathArray[4];#}
        {#$SCRIPT_PARAMS = '/' + db_id + '/' + query_id + '/' + model_id;#}
	</script>
{% endblock %}
