{% extends "base.html" %}

{% block body %}
<div class="container-fluid py-4">

{#<div class="d-flex ">#}
{#<ul class="me-auto nav nav-pills m-2" id="prediction-tabs" role="tablist">#}
{#	<li class="nav-item pill">#}
{#    <a class="nav-link active" id="individual-tab" href="#" data-toggle="tab" data-target=".individualPred">Individual-level</a>#}
{#  </li>#}
{#  <li class="nav-item pill">#}
{#    <a class="nav-link" id="group-pill" href="#group-level" data-toggle="tab" data-target=".aggregationSelect, .featureSelect, .groupPred">Group-level</a>#}
{#  </li>#}
{#</ul>#}
{#	#}
{#<div class=" d-flex tab-content">#}
{#	<div class="p-2 dropdown tab-pane fade featureSelect" role="tabpanel">#}
{#  <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="featureSelectButton" data-bs-toggle="dropdown" aria-expanded="false">#}
{#    Feature#}
{#  </button>#}
{#  <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#    {% for feature in features %}#}
{#	  <a class="dropdown-item feature-link" href="#">{{ feature }}</a>#}
{#    {% endfor %}#}
{#  </div>#}
{#	</div>#}
{##}
{#	<div class="p-2 dropdown tab-pane fade aggregationSelect" role="tabpanel">#}
{#  <button class="btn bg-gradient-secondary dropdown-toggle" type="button" id="aggregationSelectButton" data-bs-toggle="dropdown" aria-expanded="false">#}
{#    Average#}
{#  </button>#}
{#  <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#    <a class="dropdown-item aggregation-link" href="#">Average</a>#}
{#    <a class="dropdown-item aggregation-link" href="#">Count</a>#}
{#    <a class="dropdown-item aggregation-link" href="#">Maximum</a>#}
{#	<a class="dropdown-item aggregation-link" href="#">Minimum</a>#}
{#    <a class="dropdown-item aggregation-link" href="#">Sum</a>#}
{#  </div>#}
{#	</div>#}
{#</div>#}
{#</div>#}

	<div class="row">
		<div class="col-12 tab-content">
			{# Individual Tab#}
			<div class="card mb-4 tab-pane fade show active individualPred" role="tabpanel" aria-labelledby="individual-tab">
				<div class="card-header pb-0">

				</div>
				<div class="card-body px-0 pt-0 pb-2">
					<div class="container" id="pred-table">

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
	
<script>
	let element = document.getElementById("predictionLink");
	element.classList.add("active");
    element = document.getElementById("predictionLinkMobile");
	element.classList.add("active");
		
	{#var pathArray = window.location.pathname.split('/');#}
	{#var db_id = pathArray[2];#}
	{#var query_id = pathArray[3];#}
	{#var model_id = pathArray[4];#}
	{#$SCRIPT_PARAMS = '/' + db_id + '/' + query_id + '/' + model_id;#}
</script>
{% endblock %}
