{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container white">
        <div class="row">
            <div class="col s12 m6 l4 offset-m3 offset-l4">
                <h2 class="center">Registrierung</h2>
                <form method="POST" class="form-registration">
                    {{ form.csrf_token }}
                    {{ form.email() }}
                    {% for error in form.email.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {{ form.password() }}
                    {% for error in form.password.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {{ form.password2() }}
                    {% for error in form.password2.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    <br>
                    {{ form.submit(class="btn-default")}}
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}